.sidebar {
	background: $color-1;
	font-family: $font-1;
	height: 100%;
	min-height: $minHeight;
	min-width: 264px;
	border-radius: $borderRadius;
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 250px 1fr 108px;
	grid-template-areas:
		'1'
		'2'
		'3';
}
.id {
	grid-area: 1;
	text-align: center;
	user-select: none;
	position: relative;

	.idContent {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		

		img {
			border-radius: 50%;
			box-shadow: 0 0 0 4px #383838;
            width: 150px;
            
		
		}
		h3 {
			font-size: 1.3rem;
			text-transform: uppercase;
			letter-spacing: 0.2rem;
			margin-top: 1.5rem;
			color: #383838;
		}
	}
}
.navigation {
	grid-area: 2;
	padding: 2rem 1rem;

	ul {
		height: 100%;
		display: grid;

		li {
			padding-top: 1rem;
			font-size: 1.3rem;
			position: relative;

			a {
				color: #383838;
			}
		}
	}
}
